/* Top page services */
.c-block-toppage-services-head {
  font-size: 1.8rem;
  font-weight: normal;
}
.c-block-toppage-services-body {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 1px;
}
.c-block-toppage-services-item {
  position: relative;
  width: calc((100% - 160px) / 3 - 0.1px);
  margin-top: 60px;
  transition: left 1.5s, right 1.5s;
}
.c-block-toppage-services-item:last-child:nth-child(3n-1) {
  margin-left: 80px;
  margin-right: auto;
}
.c-block-toppage-services-item:nth-child(3n-2),
.c-block-toppage-services-item:nth-child(3n-1):nth-child(even) {
  opacity: 1;
  left: 0;
}
.c-block-toppage-services-item:nth-child(3n-1):nth-child(odd),
.c-block-toppage-services-item:nth-child(3n) {
  opacity: 1;
  right: 0;
}
.is-hide .c-block-toppage-services-item:nth-child(3n-2),
.is-hide .c-block-toppage-services-item:nth-child(3n-1):nth-child(even) {
  opacity: 0;
  left: 800px;
}
.is-hide .c-block-toppage-services-item:nth-child(3n-1):nth-child(odd),
.is-hide .c-block-toppage-services-item:nth-child(3n) {
  opacity: 0;
  right: 800px;
}
.c-block-toppage-services-item-head {
  font-family: 'Noto Serif JP', 'LocalNotoSerifJP', serif;
  font-size: 2.1rem;
  font-weight: normal;
}
.c-block-toppage-services-item-summary {
  margin-top: 30px;
  line-height: 2;
}
.c-block-toppage-services-item-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.c-block-toppage-services-item-link a {
  color: inherit;
}
@media screen and (max-width: 991px) {
  .c-block-toppage-services-item {
    width: calc((100% - 80px) / 3 - 0.1px);
  }
}
@media screen and (max-width: 767px) {
  .c-block-toppage-services {
    overflow: hidden;
    padding: 40px 0;
  }
  .c-block-toppage-services-head {
    position: relative;
    text-align: center;
  }
  .c-block-toppage-services-head i {
    display: inline-block;
    position: absolute;
    top: -5px;
    padding: 0 10px;
    font-size: 3rem;
    cursor: pointer;
  }
  .c-block-toppage-services-head i:first-child {
    left: 10px;
  }
  .c-block-toppage-services-head i:last-child {
    right: 10px;
  }
  .c-block-toppage-services-body {
    display: block;
    position: relative;
    left: -100vw;
    width: 10000px;
    transition: left 0.5s, right 0.5s;
  }
  .c-block-toppage-services-item {
    float: left;
    margin-top: 0;
    margin-left: 0;
    padding: 0 20px;
    width: 100vw;
    transition: none;
  }
  .c-block-toppage-services-item:last-child:nth-child(3n-1) {
    margin-left: 0;
    margin-right: 0;
  }
  .c-block-toppage-services-item:nth-child(3n-2),
  .c-block-toppage-services-item:nth-child(3n-1):nth-child(even) {
    opacity: 1;
    left: 0;
  }
  .c-block-toppage-services-item:nth-child(3n-1):nth-child(odd),
  .c-block-toppage-services-item:nth-child(3n) {
    opacity: 1;
    right: 0;
  }
  .is-hide .c-block-toppage-services-item:nth-child(3n-2),
  .is-hide .c-block-toppage-services-item:nth-child(3n-1):nth-child(even) {
    opacity: 1;
    left: 0;
  }
  .is-hide .c-block-toppage-services-item:nth-child(3n-1):nth-child(odd),
  .is-hide .c-block-toppage-services-item:nth-child(3n) {
    opacity: 1;
    right: 0;
  }
  .c-block-toppage-services-item + .c-block-toppage-services-item:nth-child(3n-1),
  .c-block-toppage-services-item + .c-block-toppage-services-item:nth-child(3n) {
    margin-left: 0;
  }
  .c-block-toppage-services-item-head {
    margin-top: 40px;
    text-align: center;
  }
  .c-block-toppage-services-item-summary {
    margin-top: 30px;
    line-height: 2;
  }
  .c-block-toppage-services-item-link {
    margin-top: 10px;
  }
}
@media print {
  .is-hide .c-block-toppage-services-item:nth-child(3n-2),
  .is-hide .c-block-toppage-services-item:nth-child(3n-1):nth-child(even) {
    opacity: 1;
    left: 0;
  }
  .is-hide .c-block-toppage-services-item:nth-child(3n-1):nth-child(odd),
  .is-hide .c-block-toppage-services-item:nth-child(3n) {
    opacity: 1;
    right: 0;
  }
}
@media print and (-ms-high-contrast: none) {
  .c-block-toppage-services-body {
    overflow: visible;
  }
  .c-block-toppage-services-item > div:first-child {
    /*    height: auto !important;*/
  }
}
/*# sourceMappingURL=c-block-toppage-services.css.map */